* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Gloria Hallelujah;
  line-height: 1.5;
  background-color: #ffb5e4;
    overflow: hidden;
  height: 100%;

}



.container {
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 60%;

}

.card {
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 20px; 
}

button {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#letter {
    width: 75%;
    display: flex;
}

#clickMe {
    font-size: 1.5rem;
}

#note {
    height: 284px;
    display: none;
}

